body {
  margin: 0;
  font-family: 'Sahitya', serif;
  background-color: #0D1B2a;
  color: #c9cba3;
  align-items: center;
}

div { 
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: 10px;
}

#homeImage {
  width: 100%;
  max-width: 300px;
  height: auto;
}

#portfolioImage {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#stillImage {
  width: 100%;
  max-width: 500px;
  height: auto;
}

nav {
  list-style-type: none;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Sahitya', serif;
}

nav li {
  display: inline-block;
  font-size: 40px;
  padding: 10px;
}

a {
  color: #c9cba3;
}