body {
  margin: 0;
  font-family: 'Sahitya', serif;
  background-color: #0D1B2a;
  color: #c9cba3;
  align-items: center;
}

div { 
  text-align: center;
}

h1 {
  font-size: 48px;
}

#homeImage {
  width: 40%;
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

a {
  color: #c9cba3;
  font-family: 'Sahitya', serif;
}